SHOPIFY_STORE_DOMAIN=gehnok-jewels.myshopify.com
SHOPIFY_API_VERSION=2026-01
SHOPIFY_STOREFRONT_ACCESS_TOKEN=ADD_USING_WRANGLER_SECRET
VITE_SHOPIFY_API_BASE=https://gehnok.gehnokjewels.workers.dev/api/shopify
